/*
	Widget specific styles go here
*/
#rankingTable tbody tr td,
#rankingTable thead tr th,
#rankingTable thead tr th:first-child{
	padding: 14px !important;
}
#rankingTable thead tr th{
	padding-right: 18px !important;
}
#rankingTable thead tr th:first-child{
	min-width: 170px;
}

.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate{
	margin: 5px !important;
	padding: 0;
}
.dataTables_paginate ul{
	padding: 0;
}

#nvd3-pie{
	margin-top: -75px;
}
.nv-pieLabels{
	display: block;
	float: inherit;
}
.nvtooltip{
	border-radius: 4px !important;
	border:none !important;
	box-shadow: 0 0 4px rgba(0,0,0,.16);
	text-align:left;
	padding: 6px 8px;
}
.nvtooltip p{
	text-align:left;
	margin: 0;
	padding: 0;
}
.nvtooltip p.key{
	font-size: 12px;
}
.nvtooltip p.value{
	font-size: 14px;
}
