<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Input Peserta Didik</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" />

    <!--[if lte IE 9]>
	<link href="assets/plugins/codrops-dialogFx/dialog.ie.css" rel="stylesheet" type="text/css" media="screen" />
	<![endif]-->
  <!-- ..... custom ..... -->
  <script src="header.js" type="text/javascript"></script>
  <!-- ... end custom ... -->
  </head>
  <body class=" menu-pin">
    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar">
      <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
      <div class="sidebar-overlay-slide from-top" id="appMenu">
      </div>
      <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header" style="padding-left: 70px; height: auto">
        <img src="logo.png" alt="logo" data-src="logo.png" width="110" height="110">
        <a href="javascript:;" class="closeSidebar"><i class="pg-close_line"></i></a>

      </div>
      <!-- END SIDEBAR MENU HEADER-->
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu" style="padding-top: 10px">
        <!-- BEGIN SIDEBAR MENU ITEMS-->

      <script src="menu.js"></script>

        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->
    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
      <!-- START HEADER -->
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content">
          <!-- START JUMBOTRON -->
          <script type="text/javascript">
            header('Buat Data Peserta Didik');
          </script>
          <!-- END JUMBOTRON -->
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid container-fixed-lg p-t-10 p-b-20">
            <!-- BEGIN PlACE PAGE CONTENT HERE -->

              <div class="row">
                <div class="col-sm-12">
                  <!-- START PANEL -->
                  <div class="panel panel-transparent">
                    <div class="panel-body">
                      <form id="form-project" role="form" autocomplete="off">

                        <h1>Formulir Input Peserta Didik</h1>
                        <p>Halaman ini untuk input data Peserta langsung ke dalam sistem dengan mengisi form data di bawah.</p>
                        <div class="form-group-attached m-b-20">
                          <div class="form-group form-group-default required">
                            <label>Nama Lengkap Peserta Didik</label>
                            <input type="text" class="form-control" name="projectName">
                          </div>
                          <div class="form-group form-group-default">
                            <label title="Masukkan Nomor induk Siswa">Nomor Induk Siswa Nasional</label>
                            <input type="text" class="form-control" name="NISN" required>
                          </div>
                          <div class="row clearfix">
                            <div class="col-sm-6">
                              <div class="form-group form-group-default">
                                <label>Jenis Kelamin</label>
                                <div class="radio radio-success radio-spesial">
                                  <div class="col-xs-6">
                                    <input class="" value="male" name="optionyes" id="male" ng-model="work_.gender" type="radio">
                                    <label for="male">Laki - laki</label>
                                  </div>
                                  <div class="col-xs-6">
                                    <input class="" checked="checked" value="female" name="optionyes" id="female" ng-model="work_.gender" type="radio">
                                    <label for="female">Perempuan</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group form-group-default form-group-default-select2 required">
                                <label>Kelas Peserta Didik</label>
                                <select class="full-width selectpicker form-control" placeholder="Pilih Kelas Peserta Didik" data-init-plugin="select2">
                                  <option placeholder value=""></option>
                                  <optgroup label="Taman Kanak-Kanak">
                                    <option>TK - Bermain</option>
                                    <option>TK - A</option>
                                    <option>TK - B</option>
                                  </optgroup>
                                  <optgroup label="SD / MI">
                                    <option>SD - Kelas 1</option>
                                    <option>SD - Kelas 2</option>
                                    <option>SD - Kelas 3</option>
                                    <option>SD - Kelas 4</option>
                                    <option>SD - Kelas 5</option>
                                    <option>SD - Kelas 6</option>
                                    <option>MI - Kelas 1</option>
                                    <option>MI - Kelas 2</option>
                                    <option>MI - Kelas 3</option>
                                    <option>MI - Kelas 4</option>
                                    <option>MI - Kelas 5</option>
                                    <option>MI - Kelas 6</option>
                                  </optgroup>
                                  <optgroup label="SLTP / MTs">
                                    <option>SLTP - Kelas 7</option>
                                    <option>SLTP - Kelas 8</option>
                                    <option>SLTP - Kelas 9</option>
                                    <option>MTs - Kelas 7</option>
                                    <option>MTs - Kelas 8</option>
                                    <option>MTs - Kelas 9</option>
                                  </optgroup>
                                  <optgroup label="SMA/SMK / MA">
                                    <option>SMA/SMK - Kelas 10</option>
                                    <option>SMA/SMK - Kelas 11</option>
                                    <option>SMA/SMK - Kelas 12</option>
                                    <option>MA - Kelas 10</option>
                                    <option>MA - Kelas 11</option>
                                    <option>MA - Kelas 12</option>
                                  </optgroup>
                                    <option>Akademi</option>
                                    <option>Institut</option>
                                    <option>Politeknik</option>
                                    <option>Universitas</option>
                                </select>
                              </div>
                            </div>
                          </div>
                            <div class="row">
                              <div class="col-md-8">
                                  <div class="form-group form-group-default form-group-default-select2 required">
                                    <label>Satuan Pendidikan</label>
                                      <select class="full-width" placeholder="Pilih Satuan Pendidikan" data-init-plugin="select2">
                                        <option placeholder value=""></option>
                                        <option value="1">Sekolah A</option>
                                        <option value="2">Sekolah B</option>
                                        <option value="3">Sekolah C</option>
                                      </select>
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <div class="form-group form-group-default form-group-default-select2">
                                    <label>Tahun Pelajaran</label>
                                    <select class="full-width" placeholder="Pilih" data-init-plugin="select2">
                                      <option placeholder value=""></option>
                                      <option>2015-2016</option>
                                      <option>2016-2017</option>
                                    </select>
                                  </div>
                                </div>
                            </div>

                          <div class="">
                            <label>Prestasi Peserta Didik
                            </label>
                            <div class="input_fields_wrap">
                            </div>
                              <button type="button" class="btn btn-default add_field_button">
                                <span class="pull-right"><i class="pg-plus"></i>
                                </span>Tambah Prestasi</button>
                          </div>



                        </div>
                        <button class="btn btn-md btn-success " type="submit">Submit</button>
                        <button class="btn btn-default "><i class="pg-close"></i> Bersih</button>

                      </form>
                    </div>
                  </div>
                  <!-- END PANEL -->
                </div>

            </div>

            <!-- END PLACE PAGE CONTENT HERE -->
          </div>
          <!-- END CONTAINER FLUID -->
          <script type="text/javascript" src="footer.js"></script>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
    <script>

  $(document).ready(function() {

        var addFormGroup = function (event) {
            event.preventDefault();

            var $formGroup = $(this).closest('.form-group');
            var $multipleFormGroup = $formGroup.closest('.multiple-form-group');
            var $formGroupClone = $formGroup.clone();

            $(this)
                .toggleClass('btn-default btn-add btn-danger btn-remove')
                .html('–');

            $formGroupClone.find('input').val('');
            $formGroupClone.insertAfter($formGroup);

            var $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
            if ($multipleFormGroup.data('max') <= countFormGroup($multipleFormGroup)) {
                $lastFormGroupLast.find('.btn-add').attr('disabled', true);
            }
        };

        var removeFormGroup = function (event) {
            event.preventDefault();

            var $formGroup = $(this).closest('.form-group');
            var $multipleFormGroup = $formGroup.closest('.multiple-form-group');

            var $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
            if ($multipleFormGroup.data('max') >= countFormGroup($multipleFormGroup)) {
                $lastFormGroupLast.find('.btn-add').attr('disabled', false);
            }

            $formGroup.remove();
        };

        var countFormGroup = function ($form) {
            return $form.find('.form-group').length;
        };

        $(document).on('click', '.btn-add', addFormGroup);
        $(document).on('click', '.btn-remove', removeFormGroup);

    });
    </script>


    <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-bez/jquery.bez.min.js"></script>
    <script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
    <script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="pages/js/pages.min.js"></script>
    <script src="assets/js/style.js" charset="utf-8"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
  </body>
</html>
