<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Pages - Admin Dashboard UI Kit - Blank Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]>
	<link href="assets/plugins/codrops-dialogFx/dialog.ie.css" rel="stylesheet" type="text/css" media="screen" />
	<![endif]-->
  <!-- ..... custom ..... -->
  <script src="header.js" type="text/javascript"></script>
  <!-- ... end custom ... -->
  </head>
  <body class=" menu-pin">
    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar">
      <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
      <div class="sidebar-overlay-slide from-top" id="appMenu">
      </div>
      <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header" style="padding-left: 70px; height: auto">
        <img src="logo.png" alt="logo" data-src="logo.png" width="110" height="110">
        <a href="javascript:;" class="closeSidebar"><i class="pg-close_line"></i></a>

      </div>
      <!-- END SIDEBAR MENU HEADER-->
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu" style="padding-top: 10px">
        <!-- BEGIN SIDEBAR MENU ITEMS-->

      <script src="menu.js"></script>

        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->
    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
      <!-- START HEADER -->
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content">
          <!-- START JUMBOTRON -->
          <script type="text/javascript">
            header('Buat Tenaga Kerja');
          </script>
          <!-- END JUMBOTRON -->
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid">
            <!-- BEGIN PlACE PAGE CONTENT HERE -->

              <div class="row">

                <!-- form user =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
                <div class="col-sm-12">
                  <div class="panel panel-transparent">
                    <div class="panel-body">
                      <form id="form-project" role="form" autocomplete="off">
                        <h3>Formulir Tenaga Kerja Baru</h3>
                        <div class="form-group-attached">
                              <div class="form-group form-group-default required">
                                <label>Nama Lengkap</label>
                                <input type="text" class="form-control" name="nama" required>
                              </div>
                          <div class="form-group form-group-default">
                            <label>Jenis kelamain</label>
                            <div class="radio radio-success" style="margin-top:1px;">
                              <div class="col-xs-6">
                                <input class="ng-untouched ng-valid ng-dirty" value="male" name="optionyes" id="male" ng-model="work_.gender" type="radio">
                                <label for="male">Laki - laki</label>
                              </div>
                              <div class="col-xs-6">
                                <input class="ng-untouched ng-valid ng-dirty ng-valid-parse" checked="checked" value="female" name="optionyes" id="female" ng-model="work_.gender" type="radio">
                                <label for="female">Perempuan</label>
                              </div>


                            </div>
                            </div>
                        </div>



                        <div class="form-group-attached m-t-10 m-b-20">
                          <div class="form-group form-group-default form-group-default-select2 required">
                            <label>Nama Satuan Pendidikan</label>
                            <select class="full-width" placeholder="Pilih Kota" data-init-plugin="select2">
                              <optgroup label="DKI Jakarta">
                                <option value="AK">Satuan Pendidikan A</option>
                                <option value="HI">Satuan Pendidikan D</option>
                                <option value="HI">Satuan Pendidikan C</option>
                              </optgroup>
                              <optgroup label="Jawa Barat">
                                <option value="CA">Satuan Pendidikan E</option>
                                <option value="NV">Satuan Pendidikan G</option>
                              </optgroup>
                              <optgroup label="Jawa Timur">
                                <option value="AZ">Satuan Pendidikan M</option>
                                <option value="CO">Satuan Pendidikan K</option>
                                <option value="ID">Satuan Pendidikan T</option>
                                <option value="MT">Satuan Pendidikan Q</option>
                              </optgroup>
                            </select>
                          </div>
                          <div class="form-group form-group-default form-group-default-select2 required">
                            <label>Jenis Tenaga Kerja</label>
                            <select class="full-width" placeholder="Pilih Kota" data-init-plugin="select2" onclick="inputPendidik(this)">
                              <option value="sightseeing">Tenaga Pendidik</option>
                              <option value="business">Tenaga Kependidikan Adminitrasi</option>
                              <option value="honeymoon">Pendukung</option>
                            </select>
                          </div>
                          <div class="form-group form-group-default">
                            <label>Bidang Ajar Tenaga Pendidik</label>
                            <input id="bidangPendidik" type="text" class="form-control" name="telepon" placeholder="">
                          </div>
                          <div class="form-group form-group-default">
                            <label>Bidang Tenaga kependidikan</label>
                            <input id="bidangKependidikan" type="text" class="form-control" name="telepon" placeholder="">
                          </div>
                          <div class="form-group form-group-default">
                            <label>Status Kepegawaian</label>
                            <input type="text" class="form-control" name="telepon" placeholder="">
                          </div>
                        </div>
                        <input class="btn btn-success" type="submit" value="Simpan">
                        <input class="btn btn-default" type="reset" value='Bersih'>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- end form =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->

              </div>

            <!-- END PLACE PAGE CONTENT HERE -->
          </div>
          <!-- END CONTAINER FLUID -->
          <script type="text/javascript" src="footer.js"></script>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>



    <!-- BEGIN VENDOR JS -->
    <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-bez/jquery.bez.min.js"></script>
    <script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
    <script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="pages/js/pages.min.js"></script>
    <script src="assets/js/style.js" charset="utf-8"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script>
    function addDs(a) {
      a.disabled=true;
      a.addClass("disabled");
    }

    function remDs(b) {
      b.disabled=false;
      b.removeClass("disabled");
    }

    function inputPendidik(x){
      var y = x.selectedIndex;

      if(y != 0){
        addDs(document.getElementById("bidangPendidik"));
        remDs(document.getElementById("bidangKependidikan"));
      }else{
        remDs(document.getElementById("bidangPendidik"));
        addDs(document.getElementById("bidangKependidikan"));
      }
    }
    </script>
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
  </body>
</html>
